@use "@/assets/scss/style" as *;
.about-module {
  padding-inline: 10px;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__header {
    position: relative;

    // background-color: $liteColor;
  }
  &__image-container2 {
    position: relative;

    background-color: #000;
    z-index: 1;
  }

  &__image-container {
    position: relative;

    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
  }
  &__image {
    // background-color: $liteColor;
    mask-image:
      linear-gradient(
        to right,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
      ),
      linear-gradient(
        to bottom,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
      );
    mask-composite: intersect;
    -webkit-mask-image:
      linear-gradient(
        to right,
        transparent 0%,
        black 30%,
        black 80%,
        transparent 100%
      ),
      linear-gradient(
        to bottom,
        transparent 0%,
        black 30%,
        black 80%,
        transparent 100%
      );
    -webkit-mask-composite: source-in;
    // background-color: $liteColor;

    width: 100%;
    max-width: 880px;

    object-fit: contain;
    display: block;
  }
  &__text {
    // position: relative;
    // z-index: -999;
    gap: 16px;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // @media (min-width: $mobile) {
    //   font-size: 128px;
    // }
    text-align: center;
    color: $liteColor;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;

    span {
      white-space: nowrap;
      width: 100%;
      word-break: none;

      //   &:first-child(1) {
      //     font-family: "Gambetta", serif;
      //     font-weight: 300;
      //     font-style: italic;
      //     letter-spacing: -0px;
      //     line-height: 100%;
      //     color: red;
      //     // padding-left: 130px;
      //   }
      font-family: "Satoshi", serif-serif;
      font-weight: 400;
      &:nth-child(even) {
        font-family: "Gambetta", serif;
        font-weight: 300;
        font-style: italic;
        letter-spacing: -0px;
        line-height: 100%;

        // padding-left: 130px;
      }
    }
  }
  &__name {
    font-size: clamp(
      24px,
      calc(24px + (128 - 24) * ((100vw - 400px) / (1400 - 400))),
      128px
    );
  }
}
.content-module {
  &__container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
    }
  }
  &__title {
    // font-family: "Satoshi", sans-serif;
    // font-weight: 300;
    // font-size: 24px;
    // letter-spacing: 1px;
    // line-height: 130%;
    // color: $mainColor;
    // text-transform: uppercase;
    // font-size: clamp(36px, 5vw, 48px);

    // span {
    //   &:nth-child(1) {
    //     color: $liteColor;
    //   }
    // }
  }
  &__text-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__text {
    max-width: 568px;
    font-family: "Chillax", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 150%;
    text-transform: none;
    color: $liteColor;
    font-size: clamp(16px, 3.5vw, 18px);
    // &:not(:last-child) {
    //   margin-bottom: 32px;
    // }
  }

  &__icons {
    width: 100%;
    display: flex;

    gap: 16px;
  }
  &__icon {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $mutedColor;
    border: 1px solid $grayColor;
    border-radius: 50%;
  }
}
