.loaded-animation {
  opacity: 0;
  transform: translateY(30px);
  z-index: 0;
  transition: transform 1s ease;

  &.is-loaded {
    opacity: 1;
    transform: translateY(0);
  }
}
.show-animation {
  opacity: 0;
  transform: translateY(100px);
  transition:
    transform 0.8s ease,
    opacity 0.8s ease;

  &.is-show {
    opacity: 1;
    transform: translateY(0);
  }
}
