@use "@/assets/scss/style" as *;

.text-block {
  max-width: 1015px;

  color: $liteColor;
  transform: translateY(-40%);

  &__title {
    font-family: "Satoshi", sans-serif;
    font-weight: 300;

    letter-spacing: -0px;
    line-height: 100%;
    text-transform: none;
    margin: 0 0 15px 0;

    span {
      display: block;
      &:nth-child(2) {
        width: 100%;
        font-family: "Gambetta", serif;
        font-weight: 300;
        font-style: italic;
        letter-spacing: -0px;
        line-height: 100%;
        // padding-left: 130px;
        text-align: center;
      }
    }

    &--xl {
      font-size: clamp(45px, 14vw, 160px);
    }
    &--l {
      font-size: clamp(24px, 5vw, 48px);
    }
    &--m {
      font-size: clamp(16px, 2.5vw, 24px);
    }
    &--s {
      font-size: clamp(13px, 2vw, 22px);
    }
  }
  &__subtitle {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Chillax", sans-serif;
    font-weight: 300;
    text-transform: none;
    line-height: 150%;
    letter-spacing: -0px;
    color: $mainColor;
    font-size: clamp(16px, 2vw, 24px);
    text-align: center;
  }
}

.text-font {
  &__subtitle {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: $liteColor;
    letter-spacing: 1.5px;
    line-height: 160%;
    text-transform: none;
  }
  &__title {
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 130%;
    text-transform: uppercase;

    &--xl {
      font-size: clamp(45px, 14vw, 160px);
    }
    &--l {
      font-size: clamp(36px, 5vw, 48px);
    }
    &--m {
      font-size: clamp(16px, 2.5vw, 24px);
    }
    &--s {
      font-size: clamp(13px, 2vw, 22px);
    }
  }
  &__text {
    font-family: "Chillax", sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 150%;
    text-transform: none;
    color: $liteColor;

    &--xl {
      font-size: clamp(45px, 14vw, 160px);
    }
    &--l {
      font-size: clamp(24px, 5vw, 48px);
    }
    &--m {
      font-size: clamp(20px, 2.5vw, 24px);
    }
    &--s {
      font-size: clamp(13px, 2vw, 16px);
    }
  }
}
