.hero {
  padding-block: clamp(15px, 5vw, 30px);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gambetta", sans-serif;
  text-transform: uppercase;

  &__container {
    min-height: 100svh;
    text-align: center;
    padding: 15px;
  }

  &__image {
    margin: 0 auto;
    transform: translateY(-12%);
    mix-blend-mode: lighten;
    width: 100vw;
    height: 65svh;

    object-fit: contain;

    aspect-ratio: 719/814;
    // transform: translateY(-12%);
  }
  &__text-block {
    justify-self: center;
  }
  // margin: 10px 10px;
  // background-color: #b2a1a1; /* Light gray background */
  // &__title {
  //   font-family: "Chillax", sans-serif;
  //   text-transform: uppercase;
  // }
}
