@use "@/assets/scss/style" as *;
.lets-talk {
  &__container {
    max-width: 1920px;
    background-color: $mutedColor;
    margin: 0 auto;
    // background-color: red;
  }
  &__line-gradient {
    width: 100vw;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50px;
      @media (min-width: $mobile) {
        width: 100px;
      }
      z-index: 2;
      pointer-events: none;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.618), transparent);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, rgba(0, 0, 0, 0.618), transparent);
    }
  }
  &__line {
    width: 150%;
    background-color: $mutedGrayColor;
    padding-block: clamp(
      3px,
      calc(3px + (10 - 3) * ((100vw - 400px) / (1400 - 400))),
      10px
    );
    border: 1px solid $grayColor;
  }
  &__line-item {
    white-space: nowrap;
    width: 100%;
    word-break: none;
    text-transform: uppercase;
  }
  &__content {
    padding-block: clamp(15px, 12vw, 160px);
  }
  &__button {
    transition: color 0.8s ease;
  }
}
