@use "@/assets/scss/style" as *;
.blog {
  padding-top: clamp(30px, 10vw, 160px);
  padding-bottom: clamp(40px, 10vw, 128px);
  padding-inline: 10px;
  &__hero {
    max-width: 1400px;
    margin: 0 auto;
  }
  &__body {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.body-blog {
  padding-top: clamp(30px, 6vw, 64px);
  &__container {
    display: grid;
    // grid-template-columns: repeat(1, 1fr);
    @media (min-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
    gap: clamp(15px, 4vw, 32px);
  }
}

.item-blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: clamp(15px, 4vw, 48px);
  border: 1px solid $grayColor;
  background-color: $mutedColor;
  border-radius: 2px;

  &__image {
    width: 100%;
    aspect-ratio: 415/270;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/noise.png");
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 46px;
      aspect-ratio: 1;
      backdrop-filter: blur(4px);
      border: 1px solid $grayColor;
      border-radius: 50%;
      background: url("@/arrow.svg") center / auto no-repeat;

      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: translate(-50%, -50%) scale(1.1);
    }
    border-radius: 2px;
    overflow: hidden;
    img {
      width: 100%;
    }
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }
  &__time {
    font-family: "Chillax", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 120%;
    text-transform: uppercase;
    color: $mainColor;
  }
  &__title {
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 130%;
    color: $liteColor;
    text-transform: none;
  }
  &__text {
    font-family: "Chillax", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 180%;
    text-transform: none;
    color: $mainColor;
    flex-grow: 1;
  }
  &__category {
    font-family: "Chillax", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 120%;
    text-transform: uppercase;
    color: $mainColor;

    border: 1px solid $grayColor;
    background-color: $mutedColor;
    border-radius: 2px;
    padding: 8px;
  }
}
